/*  ***FOOTER*** */

.block__footer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: rgb(28, 28, 28);
  height: 25rem;
  padding: 0.8rem 0 1.6rem 3rem;

  & .h3__footer--title {
    font-family: "Shrikhand", cursive;
    color: var($white);
    font-size: 2rem;
    margin-bottom: 1.2rem;
  }
}

.footer_p--color {
  color: var($white);
}
.footer__icon {
  display: flex;
  color: var($white);
}
.footer__icon__p1 {
  margin-left: 1.2rem;
}
.footer__icon__p2 {
  margin-left: 0.6rem;
}
.fa-hands-helping {
  font-size: 1.4rem;
}
.footer {
  background-color: red;
}
