////////////////////////////HEADER PAGE INDEX//////////////////////////////////////////////

.img__background--position {
  width: 100%;
  object-fit: cover;
}

.font__logo {
  @include center-flex;
  font-size: 28px;
  font-family: "Shrikhand", cursive;
  height: 60px;
  padding: 16px 0;
}
.logo__svg-position {
  @include center-flex;
}

.--headband1__bckgrd {
  background-color: rgb(209, 209, 209);
  box-shadow: 8px 13px 10px -16px grey inset;
}
.--headband1__height {
  display: flex;
  justify-content: center;
  padding: 8px 0 8px 0;
}
.fas .fa-map-marker-alt {
  height: 50px;
  width: 50px;
}
.hband_p {
  margin: 8px 0 8px 0;
  font-weight: 500;
  font-size: 14px;
  color: (rgb(77, 77, 77));
}
.block__search {
  background-color: rgb(228, 228, 228);
  padding-bottom: 56px;
}

.search__title {
  @include center-flex;
  flex-direction: column;
  height: 180px;

  & .title__h1 {
    display: flex; /*gérer le décalé au niveau du titre*/
    flex-wrap: wrap;
    text-align: center;
    font-weight: bold;
    width: 280px;
    height: 80px;
    font-size: 24px;
    text-shadow: rgb(240, 240, 240) 1px 0 10px;
  }
}
.title__p {
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  color: grey;
  line-height: 16px;
}
//////////////////////////PAGE RESTAURANTS///////////////////////
.header__flex--direction {
  display: flex;
  flex-direction: column;
}
.header__pageRestaurant__background {
  position: relative;
  height: 200px;
  display: flex;
  width: 100%;
  object-fit: cover;
}
.header__div_icon_return {
  position: relative;
}

.fa-arrow-left {
  color: black;
  font-size: 20px;
  margin: 0 20px;
  position: absolute;
  top: 17px;
}

.restaurant__header_main {
  display: flex;
  align-items: center;
}
.logo__svg--position {
  display: flex;
  align-content: center;
  justify-content: center;
  padding: 12px 0;
}
.--position_title {
  margin: inherit;
  text-align: center;
  margin-left: 42px;
}
