///////////// index.html /////////////////////

* {
  margin: 0px auto;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}
a {
  text-decoration: inherit;
}
.body {
  z-index: 10;
  position: relative;
  scroll-behavior: smooth;
}

.block__elements {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.part2__block-h2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100px;
  padding-left: 16px;
}
.part2__tittle {
  font-size: 24px;
  font-weight: bold;
}

.cards__block_center {
  /////PERMET DE CENTRé le blcok card ///////
  margin: auto;
  display: flex;
  flex-direction: column;
}

/*section part 3**/
.block__cards__part3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  padding-bottom: 40px;
  background-color: rgb(218, 218, 218);
}
.part3__block__tittle {
  padding: 40px 0 8px 0px;

  padding-left: 16px;
}
.part3__tittle {
  font-size: 24px;
  font-weight: bold;
}
