////////////////////// test grid page ////////////////////$
#section__restaurant-background {
  background-color: rgb(255, 251, 251);
  border-radius: 32px 32px 0 0;

  position: relative;
  margin-top: -40px;
  z-index: 1;
}

/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

.blockGrid__3elements {
  display: grid;
  grid-template-columns: repeat(1, auto);
  grid-template-rows: repeat(3, 64px);
  grid-row-gap: 18px;
  min-height: 64px;

  // grid-template-areas:
  //  ".menu__entrance_1"
  //   ".menu__entrance_2"
  //    ".menu__entrance_3"
}
.blockGrid__4elements {
  display: grid;
  grid-template-columns: repeat(1, auto);
  grid-template-rows: repeat(4, 64px);
  grid-row-gap: 18px;
  min-height: 64px;
}

.grid__info_title__containers {
  grid-column-start: 1;
  grid-row-start: 1;
  border-bottom: 1px;
  display: flex;
  align-items: center;
  position: relative;
}
