//////////test animation green iconn rotate ////////////////

.animation__background--green {
  border-radius: 0 20px 20px 0;
  background-color: #99e2d0;
  display: flex;

  margin-right: -64px;
  -webkit-transition: all 0s linear;
  -webkit-transition-duration: 1s;
  animation-fill-mode: both;
}

.article__menu-pagerestaurant:hover {
  .animation__background--green {
    background-color: #99e2d0;
    margin-right: 0px;
  }

  .icon__check_anim-content {
    transform: rotate(0deg);
  }
  .menu_blockH3_content {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}

.fa-circle-check:before {
  content: "\f00c";
  height: 16px;
  width: 16px;
  border: 2px solid #fff;
  border-radius: 26px;
  padding: 2px;
  font-weight: 900;
  color: $tertiary;
  background-color: #fff;

  align-items: center;
  justify-content: center;
  animation: rotate_icon 1s linear 0.2s 1 reverse;
}

.entrance--content {
  font-weight: 400;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.menu__price__flexend {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 12px 12px 12px 0px;
}

.menu_blockH3_content {
  align-content: center;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  padding: 12px 0;
  width: 80%;
  flex: 1;
}
.icon__check_anim-content {
  @include center-flex;

  width: 64px;
  transform: rotate(180deg);
  transition-duration: 2s;
}
