

.animation__background--green {
  border-radius: 0 20px 20px 0;
  background-color: $tertiary;
  display: flex;
  margin-right: -64px;
  -webkit-transition: all 0s linear;
  -webkit-transition-duration: 0.5s;
  animation-fill-mode: both;
  -webkit-border-radius: 0 20px 20px 0;
  -moz-border-radius: 0 20px 20px 0;
  -ms-border-radius: 0 20px 20px 0;
  -o-border-radius: 0 20px 20px 0;
}

.article__menu-pagerestaurant:hover {
  .animation__background--green {
    background-color: $tertiary;
    margin-right: 0px;
  }

  .icon__check_anim-content {
    transform: rotate(0deg);
  }
  .menu_blockH3_content {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}

.fa-circle-check:before {
  content: "\f00c";
  height: 16px;
  width: 16px;
  border: 2px solid $white;
  border-radius: 26px;
  padding: 2px;
  font-weight: 900;
  color: $tertiary;
  background-color: $white;
  align-items: center;
  justify-content: center;
  animation: rotate_icon 0.5s linear 0.2s 1 reverse;
}

.entrance--content {
  font-weight: 400;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.menu__price__flexend {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 1.2rem 1.2rem 1.2rem 0px;
}

.menu_blockH3_content {
  align-content: center;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  padding: 12px 0;
  flex: 1;
}
.icon__check_anim-content {
  @include center-flex;
  width: 64px;
  transform: rotate(-300deg);
  transition-duration: 0.7s;
}
