////////////////////Article layout ////////////////////////////////
.article__menu-pagerestaurant,
.menu__entrance_4 {
  box-shadow: 4px 0px 8px 1px rgb(196, 195, 195);
  border-radius: 20px;
  border: transparent 1px black;
}

.article__menu-pagerestaurant {
  display: flex;
  position: relative;
  padding-left: 16px;
  font-size: 12px;
  font-weight: bold;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.menu__entrance_4 {
  height: 64px;
}
.menu__price__flexend {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 12px 12px 12px 0;
  width: 100%;
}

.menu_blockH3_content {
  align-content: center;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  padding: 12px 0;
}
.menu--h3 {
  font-size: 14px;
}
