//////// BUTTON WITH TWO VARIABLES //////////////
.button__achor {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 24px;
  padding-bottom: 42px;
}

.btn_1 {
  cursor: pointer;
  @include center-flex;
  box-shadow: 1px 4px 20px 2px grey; // box shadow defaut //
  padding: 0.75rem 0.75rem;
  border-radius: 10rem;
  color: rgb(196, 196, 196);
  background: linear-gradient(to right, $secondary, $primary);
  opacity: 0.8;
  border-style: none;
  height: 50px;
  animation: myAnim 2s ease 0s 1 normal forwards;
}
.size__button {
  height: 52px;
  width: 240px;
}

.color__text {
  color: white;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.2px;
}
