.block__i {
  position: relative;
  top: 8px;
  padding-right: 16px;
  float: right;
  box-sizing: border-box;
  display: flex; // warning displpay flex //
}
i.font-weight {
  font-weight: 100;
  transform: scale(1.21, 1.23);
}

.fa-heart:active:before {
  font-weight: bold;
  cursor: pointer;
  background: linear-gradient(to left, $primary, $secondary);
  animation: bckg__heart 1s ease 0s normal forwards;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

@keyframes bckg__heart {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.25;
  }

  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.75;
  }

  100% {
    opacity: 1;
  }
}

#restaurant_iconheart__position {
  position: absolute;
  top: -18px;
  font-size: 24px;
  padding: 0 32px;
}
